{% extends "administracion/base.html" %}
{% load staticfiles%}
{% block head %}
<!-- jQuery -->
<script src="{% static "js/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.standalone.css" %}">
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.es.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock head %}
{% block content %}
  <div class="row">
  	<div id="alertArea" class="col-sm-12">
        {% if messages %}
          <div class="alert alert-warning">{{ messages }}</div>
        {% endif %}
     </div>
    {% load crispy_forms_tags %}
    <form method="POST" class="post-form" style="margin-top: 15px;">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-danger" href="/vuelos/">Cancelar</a>
    </form>
  </div>



{% endblock content %}
{% block scripts %}
<script type="text/javascript">
var List_aviones = [];

{% for avion in aviones %}
    List_aviones.push({'id': {{avion.id}}, 'capacidad': {{avion.capacidad}}})
{% endfor %}

$('#id_avion').on('change', function() {
  $.each(List_aviones, function(i, v) {
    if (v.id == parseInt($('#id_avion').val())) {
        $("#id_plazas_vacias").val(v.capacidad)
        return;
    }
  });
});

</script>
{% endblock scripts %}
