{% extends "administracion/base.html" %}

{% block content %}
  <div class="row">
  	<div id="alertArea" class="col-sm-12">
        {% if messages %}
          <div class="alert alert-warning">{{ messages }}</div>
        {% endif %}
     </div>
    {% load crispy_forms_tags %}
    <form method="POST" class="post-form" style="margin-top: 15px;">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Guardar</button>
      <a class="btn btn-danger" href="/paises/">Cancelar</a>
    </form>
  </div>
{% endblock content %}
