<!DOCTYPE html>
{% load staticfiles%}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestion - Aeropuertos</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/metisMenu.min.css" %}">
    <link rel="stylesheet" href="{% static "css/timeline.css" %}">
    <link rel="stylesheet" href="{% static "css/sb-admin-2.css" %}">
    <link rel="stylesheet" href="{% static "css/morris.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "twitter-bootstrap-wizard/prettify.css" %}">
    {% block head %}

    {% endblock head %}
  </head>
  <body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style = "background: #2c3e50;" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style = "color: white;">Gestion Aeropuertos</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" style = "color: white;" href="#">
                        {{request.user.first_name}} {{request.user.last_name}}
                        <i class="fa fa-user fa-fw" style = "color: white;"></i>  <i class="fa fa-caret-down"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/app/"><i class="fa fa-dashboard fa-fw" style="color: #f39c12;"></i> Inicio</a>
                        </li>

                        <li>
                            <a href="/aeropuertos/"><i class="fa fa-globe" style="color: #f39c12;"></i> Aeropuerto</a>
                        </li>

                        <li>
                            <a href="/paises/"><i class="fa fa-globe" style="color: #f39c12;"></i> Paises</a>
                        </li>

                        <li>
                            <a href="/ciudades/"><i class="fa fa-map-marker" style="color: #f39c12;"></i> Ciudades</a>
                        </li>

                        <li>
                            <a href="/aerolineas/"><i class="fa fa-map-marker" style="color: #f39c12;"></i> Aerolineas</a>
                        </li>

                        <li>
                            <a href="/aviones/"><i class="fa fa-plane" style="color: #f39c12;"></i> Aviones</a>
                        </li>

                        <li>
                            <a href="/vuelos/"><i class="fa fa-fighter-jet" style="color: #f39c12;"></i> Vuelos</a>
                        </li>
                        <li>
                            <a href="/clases/"><i class="fa fa-star" style="color: #f39c12;"></i> Clases Vuelos</a>
                        </li>
                        <li>
                            <a href="/programas/"><i class="fa fa-file-text" style="color: #f39c12;"></i> Programas</a>
                        </li>

                        <li>
                            <a href="/escalas/"><i class="fa fa-tasks" style="color: #f39c12;"></i> Tipos de Escalas</a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
          {% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                    <h3 style="color:#e67e22; text-align:center;">{{aeropuerto.aeropuerto.nombre}}</h3>
                    <hr>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-plane fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{vuelos}}</div>
                                    <div>Vuelos</div>
                                </div>
                            </div>
                        </div>
                        <a href="/vuelos/">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Administración</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-file fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{programas}}</div>
                                    <div>Programas de Vuelo</div>
                                </div>
                            </div>
                        </div>
                        <a href="/programas/">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Administración</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-map-marker fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{aerolinea}}</div>
                                    <div>Aerolineas</div>
                                </div>
                            </div>
                        </div>
                        <a href="/aerolineas/">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Administración</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-globe fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{pais}}</div>
                                    <div>Paises</div>
                                </div>
                            </div>
                        </div>
                        <a href="/paises/">
                            <div class="panel-footer">
                                <span class="pull-left">Ir a Administración</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endblock content %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->






  {% block scripts %}
  <!-- jQuery -->
  <script src="{% static "js/jquery.min.js" %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static "js/bootstrap.min.js" %}"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="{% static "js/metisMenu.min.js" %}"></script>


  <!-- Custom Theme JavaScript -->
  <script src="{% static "js/sb-admin-2.js" %}"></script>
  {% endblock %}
  </body>
</html>
