{% extends "administracion/base.html" %}
{% load staticfiles%}
{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top: 150px; text-align:center;">
       <i class="fa fa-lock fa-5x" style="font-size: 120px; color:#2980b9;"></i>
       <h3 style="color:#2c3e50;">No tienes permisos para acceder a esta opción del sistema <br> si necesitas acceder por favor ponte en contacto con el Administrador</h3>
     </div>
    <div class="col-md-3"></div>

  </div>


{% endblock content %}
