{% extends "administracion/base.html" %}

{% block content %}
    <div class="row" style="margin-top:10px; padding: 10px;">
        <a class="btn btn-success" href="/nuevoprograma/" role="button"><i class="fa fa-plus" style="color: white;"></i> Nuevo Programa</a>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>
                Aerolinea
              </th>
              <th>
                Vuelo
              </th>
              <th>
                Despegues
              </th>
              <th>
                Aterrizajes
              </th>
              <th>
                Escalas
              </th>
              <th>
                Dias de Salida
              </th>
              <th>
                Opciones
              </th>
            </tr>
        </thead>
        <tbody>
            {% for programa in programas %}
            <tr>
              <td>
                {{programa.aerolinea.nombre}}
              </td>
              <td>
                {{programa.vuelo.numero_vuelo}}
              </td>
              <td>
                {% for despegue in programa.despegues.all %}
                  {{ despegue.aeropuerto.nombre|add:" - " }}
                {% endfor %}
              </td>
              <td>
                {% for aterrizaje in programa.aterrizajes.all %}
                  {{ aterrizaje.aeropuerto.nombre|add:" - " }}
                {% endfor %}
              </td>
              <td>
                {% for escala in programa.escalas.all %}
                  {{ escala.descripcion |add:" - " }}
                {% endfor %}
              </td>
              <td>
                {% for dia in programa.dias.all %}
                  {{ dia.dias_semana |add:" - " }}
                {% endfor %}
              </td>
              <td>
                <a style="background-color: #f1c40f; border-color: #f1c40f; margin-top: 5px;" class="btn btn-info" href="/adddespegue/{{programa.pk}}/" role="button"><i class="fa fa-plus" style="color: white;"></i> Despegues</a>
                <a style="background-color: #3498db; border-color:#3498db; margin-top: 5px;" class="btn btn-info" href="/addaterrizaje/{{programa.pk}}/" role="button"><i class="fa fa-plus" style="color: white;"></i> Aterrizajes</a>
                <a style="background-color: #2ecc71; border-color:#2ecc71; margin-top: 5px;" class="btn btn-info" href="/addescalastecnica/{{programa.pk}}/" role="button"><i class="fa fa-plus" style="color: white;"></i> Escalas Tecnicas</a>
                <a style="background-color: #34495e; border-color:#34495e;margin-top: 5px;" class="btn btn-info" href="/adddia/{{programa.pk}}/" role="button"><i class="fa fa-plus" style="color: white;"></i> Horarios</a>
                <a style="background-color: green; border-color:green;margin-top: 5px;" class="btn btn-info" href="/addprecio/{{programa.pk}}/" role="button"><i class="fa fa-plus" style="color: white;"></i> Precios</a>
                <a class="btn btn-info" href="/editarprograma/{{programa.pk}}/" style="margin-top: 8px;" role="button"><i class="fa fa-pencil" style="color: white;"></i> Editar Programa</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-{{programa.pk}}" style="margin-top: 8px;">
                  <i class="fa fa-minus" style="color: white;"> Eliminar Programa
                </button>
              </td>
            </tr>
            <div class="modal fade" id="myModal-{{programa.pk}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Advertencia</h4>
                  </div>
                  <div class="modal-body">
                    <p>¿Está seguro que desea eliminar a este registro?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="/eliminaprograma/{{programa.pk}}/" class="btn btn-success">Aceptar</a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock content %}
