{% extends "administracion/base.html" %}
{% load staticfiles%}

{% block content %}
  <div class="row">
    {% load crispy_forms_tags %}
    <form method="POST" class="post-form" style="margin-top: 15px;">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Agregar</button>
      <a class="btn btn-danger" href="/programas/">Regresar</a>
    </form>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>
              Clase
            </th>
            <th>
              Precio
            </th>
            <th>
              Opciones
            </th>
          </tr>
      </thead>
      <tbody>
          {% for precio in precios %}
          <tr>
            <td>
              {{precio.clase.nombre}}
            </td>
            <td>
              {{precio.precio}}
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-{{precio.pk}}" style="margin-top: 0px;">
                <i class="fa fa-minus" style="color: white;"> Eliminar precio
              </button>
            </td>
          </tr>
          <div class="modal fade" id="myModal-{{precio.pk}}">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                  <p>¿Está seguro que desea eliminar a este registro?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <a href="/eliminaprecio/{{precio.pk}}/{{precio.programa.pk}}" class="btn btn-success">Aceptar</a>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
