<!DOCTYPE html>
{% load staticfiles%}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">
    <link rel="shortcut icon" href="{% static "ico/favicon.png"%}">

    <title>Viajes Gt</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css"%}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/smoothscroll.js"%}"></script>


    {% block head %}

    {% endblock head %}

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><b>Viajes Gt</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Inicio</a></li>
	            <li><a href="#desc" class="smothscroll">Descripcion</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
<div style="padding: 30px 0 0 200px;">
  {% block content %}


  {% endblock content %}

</div>


  </body>
</html>
