<html>
{% load staticfiles%}
    <head>
        <title>Login - Gestion-Aeropuertos</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/todo.css" %}">
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <meta charset="utf8">
    </head>
    <bodys>
        <header>
            Inicio de Sesión
        </header>
        <div id="login">
          {% if messages %}
            <div class="alert alert-info">{{ messages }}</div>
          {% endif %}
            <form class="login-form" name="LoginForm" action="/accounts/auth/" method="post">
                {% csrf_token %}
                {% if form.errors %}
    			 <div class="alert alert-warning" role="alert"> El usuario o contraseña son invalidos</div>
                {%  endif %}
                <div class="control-group">
                    <label class="control-label" for="username">Usuario</label>
                    <div class="controls">
                        <input class="text-login" type="text" id="username" name="username"  placeholder="Usuario">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">Contraseña</label>
                    <div class="controls">
                        <input class="text-login" type="password" name="password" id="password" placeholder="Contraseña">
                    </div>
                </div>
                <button type="submit" class="btn-login">Iniciar Sesión</button>
            </form>
        </div>
    </body>
</html>
