{% extends "administracion/base.html" %}
{% load staticfiles%}
{% block head %}
<!-- jQuery -->
<script src="{% static "js/jquery.min.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.standalone.css" %}">
<script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.es.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
{% endblock head %}
{% block content %}
  <div class="row">
    {% load crispy_forms_tags %}
    <form method="POST" class="post-form" style="margin-top: 15px;">{% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Agregar</button>
      <a class="btn btn-danger" href="/programas/">Regresar</a>
    </form>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>
              Hora Seleccionada
            </th>
            <th>
              Opciones
            </th>
          </tr>
      </thead>
      <tbody>
          {% for hora in horas %}
          <tr>
            <td>
              {{hora.hora}}
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-{{hora.pk}}" style="margin-top: 0px;">
                <i class="fa fa-minus" style="color: white;"> Eliminar Horario
              </button>
            </td>
          </tr>
          <div class="modal fade" id="myModal-{{hora.pk}}">
            <div class="modal-horalog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Advertencia</h4>
                </div>
                <div class="modal-body">
                  <p>¿Está seguro que desea eliminar a este registro?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <a href="/eliminahora/{{hora.pk}}/{{hora.dia.pk}}/" class="btn btn-success">Aceptar</a>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-horalog -->
          </div><!-- /.modal -->
          {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
