{% extends "administracion/base.html" %}

{% block content %}
    <div class="row" style="margin-top:10px; padding: 10px;">
        <a class="btn btn-success" href="/nuevousuario/" role="button"><i class="fa fa-plus" style="color: white;"></i> Nuevo Usuario</a>
    </div>
    <div class="row">
      <table class="table table-striped">
        <thead>
            <tr>
              <th>
                Nombre
              </th>
              <th>
                Apellido
              </th>
              <th>
                Nombre Usuario
              </th>
              <th>
                Opciones
              </th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
              <td>
                {{usuario.first_name}}
              </td>
              <td>
                {{usuario.last_name}}
              </td>
              <td>
                {{usuario.username}}
              </td>
              <td>
                <a class="btn btn-info" href="/editarusuario/{{usuario.pk}}/" role="button"><i class="fa fa-pencil" style="color: white;"> Editar Usuario</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal-{{usuario.pk}}" style="margin-top: -8px;">
                  <i class="fa fa-minus" style="color: white;"> Eliminar Usuario
                </button>
              </td>
            </tr>
            <div class="modal fade" id="myModal-{{usuario.pk}}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Advertencia</h4>
                  </div>
                  <div class="modal-body">
                    <p>¿Está seguro que desea eliminar a este registro?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <a href="/eliminausuario/{{usuario.pk}}/" class="btn btn-success">Aceptar</a>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            {% endfor %}
        </tbody>
      </table>
    </div>


{% endblock content %}
