<!DOCTYPE html>
{% load staticfiles%}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pratt - Free Bootstrap 3 Theme">
    <meta name="author" content="Alvarez.is - BlackTie.co">
    <link rel="shortcut icon" href="{% static "ico/favicon.png"%}">

    <title>Viajes Gt</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Custom styles for this template -->
    <link href="{% static "css/main.css"%}" rel="stylesheet">
    <link href="{% static "css/sweetalert.css"%}" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/smoothscroll.js"%}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker3.standalone.css" %}">
    <script src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datepicker.es.min.js" %}"></script>

    {% block head %}

    {% endblock head %}

  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/"><b>Viajes Gt</b></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#home" class="smothscroll">Inicio</a></li>
	            <li><a href="#desc" class="smothscroll">Descripcion</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>

{% block content %}
	<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">

	    	<div class="row centered">
	    		<div class="col-lg-12">
  					<h1>Bienvenido a <b>Viajes Gt</b></h1>
  					<h3>Es tiempo de viajar, encuentra tu destino aquí</h3>
  					<br>
	    		</div>
          <div class="col-lg-12">
            <div class="buscador"><!--/ .buscador -->

              <form class="form-inline" action="/results/" method="get">  {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputName2" style="color: white; margin: 15px;">Desde</label>
                  <select id = "aero1" class="form-control" required name = "aero1">
                    <option value=""> </option>
                    {% for aeropuerto in aeropuertos %}
                      <option value={{aeropuerto.id}}>{{aeropuerto.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2" style="color: white; margin: 15px;">Hasta</label>
                  <select id = "aero2" class="form-control" required name = "aero2">
                    <option value=""> </option>
                    {% for aeropuerto in aeropuertos %}
                      <option value={{aeropuerto.id}}>{{aeropuerto.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2" style="color: white; margin: 15px;">Salida</label>
                  <div id="datepicker" class="input-group date">
                      <input type="text" class="form-control" value="" name = "del" required>
                      <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2" style="color: white; margin: 15px;">Regreso</label>
                  <div id="datepicker2" class="input-group date">
                      <input type="text" class="form-control" value="" name = "al" required>
                      <div class="input-group-addon">
                          <span class="glyphicon glyphicon-th"></span>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control" required name = "cantidad">
                    <option value="">Numero de Personas</option>
                    <option value=1>1 Persona</option>
                    <option value=2>2 Persona</option>
                    <option value=3>3 Persona</option>
                    <option value=4>4 Persona</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control" required name = "clase">
                    <option value="">Seleccione Clase</option >
                    {% for clase in clases %}
                    <option value={{clase.id}}>{{clase.nombre}}</option>
                    {% endfor %}
                  </select>
                </div>
                <button id = "send" type="submit" class="btn btn-success">Buscar Vuelos</button>
              </form>

            </div> <!--/ .buscador -->
  				</div>
     	  </div>

	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
		<div class="container">
			<div class="row centered">
				<h1>Reserva tus boletos con facilidad</h1>
				<br>
				<br>
				<div class="col-lg-4">
					<img src="{% static "img/intro01.png"%}" alt="">
					<h3>Contáctanos</h3>
					<p>Pudes llamarnos al número xxxx-xxxx para reservar vuelos que hayas encontrado en este buscador</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static "img/intro02.png"%}" alt="">
					<h3>Reserva</h3>
					<p>Puedes reservar tus vuelos  con facilidad contáctanos, no te arrepentiras</p>
				</div>
				<div class="col-lg-4">
					<img src="{% static "img/intro03.png"%}" alt="">
					<h3>On-line</h3>
					<p>Puedes buscar tu vuelo en esta plataforma en linea y reservar tu vuelo.</p>
				</div>
			</div>
			<br>
			<hr>
	    </div> <!--/ .container -->
	</div><!--/ #introwrap -->

		<div id="c">
		<div class="container">
			<p>Viajes Gt 2015 Todos los derechos resevados</p>

		</div>
	</div>
{% endblock content %}
  <script src="{% static "js/sweetalert.min.js" %}"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript">
    var nowDate = new Date();
    var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
      $('#datepicker').datepicker({
        language: 'es',
        autoclose: true,
        todayHighlight: true,
        startDate: today
      });
      $('#datepicker2').datepicker({
        language: 'es',
        autoclose: true,
        todayHighlight: true,
        startDate: today
      });
      $("form").submit(function(event){
        if($("#aero1").val() == $("#aero2").val())
        {
          debugger;
          swal("Error...", "Por favor asegurece que los aeropuertos seleccionados sean distintos", "error");
          event.preventDefault();
        }
      });


    </script>

  </body>
</html>
