{% extends "webapp/main.html" %}
{% block content %}
  <div class="container"style="padding-top: 15px;">
    <h2>Resultados Búsqueda</h2>
    <div id="alertArea" class="col-sm-12">
        {% if messages %}
          <div class="alert alert-info">{{ messages }}</div>
        {% endif %}
     </div>
      {% for vuelo in ida %}
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Ida: de </strong>&nbsp;{{vuelo.aeropuerto_ida}} &nbsp;<strong>a</strong> &nbsp;{{vuelo.aeropuerto_vuelta}}</h3>
        </div>
        <div class="panel-body">
          <ul style="list-style-type: none;">
            <li><strong>Numero: </strong>&nbsp;{{vuelo.numero_vuelo}}</li>
            <li><strong>Aerolinea: </strong>&nbsp;{{vuelo.aerolinea}}</li>
            <li><strong>Horarios: </strong>&nbsp;{{vuelo.dias}}</li>
            <li><strong>Cantidad: </strong>&nbsp;{{vuelo.cantidad}}</li>
            <li style = "color:#27ae60;"><strong>Precio: &nbsp;Q {{vuelo.precio}}</strong></li>
          </ul>
        </div>
      </div>
       {% endfor %}
       {% for vuelo in vuelta %}
       <div class="panel panel-warning">
         <div class="panel-heading">
           <h3 class="panel-title"><strong>Vuelta: de </strong>&nbsp;{{vuelo.aeropuerto_ida}} &nbsp;<strong>a</strong> &nbsp;{{vuelo.aeropuerto_vuelta}}</h3>
         </div>
         <div class="panel-body">
           <ul style="list-style-type: none;">
             <li><strong>Numero: </strong>&nbsp;{{vuelo.numero_vuelo}}</li>
             <li><strong>Aerolinea: </strong>&nbsp;{{vuelo.aerolinea}}</li>
             <li><strong>Horarios: </strong>&nbsp;{{vuelo.dias}}</li>
             <li><strong>Cantidad: </strong>&nbsp;{{vuelo.cantidad}}</li>
             <li style = "color:#27ae60;"><strong>Precio: &nbsp;Q {{vuelo.precio}}</strong></li>
           </ul>
         </div>
       </div>
        {% endfor %}
  </div>
{% endblock content %}
